In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('../../download/iris.csv')

In [35]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [36]:
df.head(3) #headは上位3つのみ取得できる

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [37]:
 #df['種類'].unique() 種類列から重複データを抽出

In [38]:
df['sepal.length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [39]:
# df['種類'].value_counts() 一列分のデータ別個数の合計

In [40]:
df['sepal.length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal.length, dtype: int64

In [41]:
# 欠損値の確認 欠損値があると、モデルの学習や分析はできない

In [42]:
# df.taill(3) # 末尾の3行のデータをかくにん

In [43]:
df.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [44]:
# df.isnull() # 各マスのnullをチェック

In [45]:
df.isnull

<bound method DataFrame.isnull of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [46]:
# any()を使って欠損値の確認

In [47]:
df.isnull().any(axis=0)

sepal.length    False
sepal.width     False
petal.length    False
petal.width     False
variety         False
dtype: bool

In [48]:
df.sum()

sepal.length                                                876.5
sepal.width                                                 458.6
petal.length                                                563.7
petal.width                                                 179.9
variety         SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...
dtype: object

In [49]:
df.isnull().sum() #列ごとの欠損値の個数の集計

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [50]:
# 欠損値をどのようにたいしょ? 1. 欠損値を含む行を丸ごと捨てる

In [51]:
df2 = df.dropna(how = 'any', axis=0)

In [52]:
df2.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [53]:
df.loc[147,'sepal.width'] = np.nan

In [54]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          NaN           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [55]:
df.isnull()

     sepal.length  sepal.width  petal.length  petal.width  variety
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False         True         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [56]:
df.sum()

sepal.length                                                876.5
sepal.width                                                 455.6
petal.length                                                563.7
petal.width                                                 179.9
variety         SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...
dtype: object

In [58]:
df.isnull().sum()

sepal.length    0
sepal.width     1
petal.length    0
petal.width     0
variety         0
dtype: int64

In [61]:
df2 = df.dropna(how='any', axis=0)

In [62]:
df2 # 欠損値の行を1つ上で消している

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[149 rows x 5 columns]

In [63]:
df2.isnull().any(axis=0)

sepal.length    False
sepal.width     False
petal.length    False
petal.width     False
variety         False
dtype: bool

In [70]:
df.loc[147,'sepal.width'] = np.nan # 欠損値を再度せってい

In [71]:
# 2つ目の対処法 欠損血を穴埋めする これが一般的

In [72]:
df['sepal.width'] = df['sepal.width'].fillna(0)

In [73]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          0.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [74]:
# 平均値の計算

In [75]:
df.mean(numeric_only=True)

sepal.length    5.843333
sepal.width     3.037333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [76]:
# 特定に長さだけ平均値を計算

In [79]:
df['sepal.length'].mean()

5.843333333333335

In [81]:
df.std() # 標準偏差

sepal.length    0.828066
sepal.width     0.502283
petal.length    1.765298
petal.width     0.762238
dtype: float64

In [83]:
## 決定木 ・・・特徴量の内容をもとにひたすら上絵kんを繰り返すだけ

In [84]:
## 乱数の利用と再現性

In [85]:
# 毎回、同じデータで同じ学習をしても結果が異なると、改善や分析ができない。その結果が正しいのか分別ができないということ

In [86]:
### コラム scikit -learnでは乱数を使用するのでデフォルトでは学習に再現性がない。 モデルの改善をするには学習の再現性を確保することが重要である。

In [87]:
# 決定木のモデル構築

In [88]:
from sklearn import tree

In [89]:
# モデルの作成

In [90]:
model = tree.DecisionTreeClassifier(max_depth=2, random_state=0)